<!DOCTYPE HTML>
<html>
  <head>
    <title>CI Voyeur</title>
    <link rel="stylesheet" href="css/voyeur.css" type="text/css" media="screen" title="Voyeur Stylesheet" charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/mootools-more.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- <script src="js/growl.js" type="text/javascript" charset="utf-8"></script> -->
    <script src="js/neighbor.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/voyeur.js" type="text/javascript" charset="utf-8"></script>
  </head>
  
  <body>
    <div id="wrapper">
      <div id="header">
        <div id="nav"><a href="#" id="reload-link">Reload</a></div>
        <h2 id="logo">voyeur</h2>
      </div>
      
      <div id="contents">
        <div id="neighbors">
        </div>
      </div>
      
    </div>
    
    <div id="message-panel" style="display: none;"></div>
  </body>

</html>