body {
  font-family: 'Georgia', Times, serif;
  color: #fff;
  background-color: #000; }
  body a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted #fff; }

#wrapper {
  width: 800px;
  margin: 60px auto; }
  #wrapper #header {
    # border-bottom: 1px solid #ddd; }
    #wrapper #header #logo {
      color: #fff; }
    #wrapper #header #nav {
      float: right; }

#neighbors {
  color: #888;
  clear: both;
  margin: 0 0 0 50px; }
  #neighbors .neighbor {
    float: left;
    margin: 10px;
    width: 155px;
    height: 155px;
    text-align: center;
    border-radius: 8px; }
    #neighbors .neighbor .symbol {
      font-size: 3em;
      margin: 20px 0 0; }
    #neighbors .neighbor .name {
      font-weight: normal;
      margin: 0; }
    #neighbors .neighbor .status {
      font-style: italic;
      margin: 0;
      padding: 2px 0; }
  #neighbors .unwatched {
    color: #666;
    /*		background-color: #ddd;*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#999999));
    border: 1px solid #aaa; }
  #neighbors .ok {
    color: #056B00;
    /*		background-color: #D1FF6E;*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d1ff6e), to(#99ba51));
    border: 1px solid #00750B; }
  #neighbors .building {
    color: #725D23;
    /*		background-color: #FFE8BE;*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffe8be), to(#af9f82));
    border: 1px solid orange; }
  #neighbors .failed {
    color: #5C0400;
    /*		background-color: #FA9387;*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fa9387), to(#945750));
    border: 1px solid red; }
