body {
	font-family: 'Georgia', Times, serif;
	color: #aaa;
	background-color: #000;
	margin: 0;
	padding: 0;
	
	a {
		color: white;
		text-decoration: none;
		border-bottom: 1px dotted #fff;
	}
}

#wrapper {
  position: relative;
	max-width: 786px;
	width: 90%;
	margin: auto auto;
	padding: 20px;
	
	#header {
		#logo {
		  margin: 0;
		  padding: 0;
		  font-size: 3em;
			color: #1a1a1a;
			text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
			text-align: center;
		}
	}
}


#neighbors {
	color: #888;
	clear: both;
	margin: 5%;
	
	.spinner {
	  background: rgba(50, 50, 50, .75);
	  color: white;
	  font-style: italic;
	  
	  .spinner-img {
	    background: url(../images/loader.gif) no-repeat;
    	width: 16px;
    	height: 16px;
    	margin: 0 auto;
    }
	}
		
	.neighbor {
		float: left;
		position: relative;
		margin: 10px;
		width: 155px;
		height: 155px;
		text-align: center;
		border-radius: 8px;
		
		.symbol {
			font-size: 3em;
			margin: 30px 0 0;
			text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
		}
		
		.name {
			font-weight: normal;
			margin: 0;
		}
		
		.status {
			font-style: italic;
			margin: 0;
			padding: 2px 0;
		}
		
		.widget_nav {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 155px;
      height: 22px;
      padding: 0;
      margin: 0;
      background: rgba(20, 20, 20, .5);
  		border-bottom-left-radius: 8px;
  		border-bottom-right-radius: 8px;
  
      a {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin: 3px;
        border: none;
        float: left;
    
        &.output {
          background: {
            color: transparent;
            image: url(/images/output.png);
            repeat: none;
          }
        }
    
        &.build {
          background: {
            color: transparent;
            image: url(/images/build.png);
            repeat: none;
          }
        }
    
        &.unwatch {
          background: {
            color: transparent;
            image: url(/images/pause.png);
            repeat: none;
          }
        }
    
        &.watch {
          background: {
            color: transparent;
            image: url(/images/play.png);
            repeat: none;
          }
        }
    
        &.refresh {
          background: {
            color: transparent;
            image: url(/images/refresh.png);
            repeat: none;
          }
        }
    
      }
    }
	}
	
	.unwatched {
		color: #666;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(#999));
		border: 1px solid #aaa;
	}
	
	.ok {
		color: #056B00;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#D1FF6E), to(#6E8738));
		border: 1px solid #0F0;
	}
	
	.building {
		color: #725D23;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#FFE8BE), to(#6E6452));
		border: 1px solid orange;
	}
	
	.failed {
		color: #5C0400;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#FA9387), to(#854E48));
		border: 1px solid red;
	}
}

.commit {
  position: absolute;
  margin: 0;
  padding: 20px 40px;
  background: rgba(30, 30, 30, .90);
  bottom: 0;
  right: 0;
  left: 0;
	color: #fff;
	
  .symbol {
    position: absolute;
    top: 40px;
    right: 40px;
		font-size: 3em;
		margin: 0;
		color: #2a2a2a;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
  }

  .author {
    float: left;
    margin-right: 30px;
  }
  
	p {
	  margin: 0;
	  padding: 3px;
    
    &.message {
      margin-bottom: 20px;
    }
  
    &.sha, &.date {
      font-size: 10px;
    }
	}
}

#output {
  position: absolute;
  top: 0;
  width: 90%;
  height: 80%;
  margin: 100px 60px 60px;
  background: rgba(0,0,0,.7);
  z-index: 2000;
  
  .title {
    position: absolute;
    top: -20px;
    left: 8px;
    color: #fff;
    font-size: 20px;
  }
  
  a.close {
    position: absolute;
    top: -20px;
    right: 4px;
    background: url(../images/close.png) no-repeat;
    width: 16px;
    height: 16px;
    border: none;
  }
  
  .lightbox {
    width: 100%;
    height: 100%;
  }
}

/* Clearfix */

.cf:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

/* IE6 */
* html .cf {
  zoom: 1;
}

/* IE7 */
*:first-child+html .cf {
  zoom: 1;
}